.index-body {
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    min-width: 350px;
     text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga','kern';
    font-family: "PingHei","PingFang SC","Helvetica Neue","Helvetica","STHeitiSC-Light","Microsoft YaHei","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.content-block {
    position:relative;
}
.login {
    position: absolute;
    top: 5px;
    right: 10px;
    float: right;
    color: #7a4624;
}
.login a:hover {
    cursor: pointer;
    color: red;
    font-weight: bolder;

}
.login a {
    text-decoration: none;
    color: #7a4624;
}
.navbar-default {
    background-color:#00A78D;
    color: aliceblue;
    border: none;

}
.navbar-default .navbar-brand {
    color: white;
    padding-top: 6px;
    padding-bottom: 0px;
    margin-left: 20px;
    margin-right: 50px;

}
.navbar-nav {
    margin-bottom: 0;

}

.navbar-nav .open .dropdown-menu {
    background-color: #fff;
}
.in .drop-divider {
    height: 1px;
    background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    vertical-align: middle;
    background-color: aliceblue;
    border-bottom: solid 5px #7a4624;
    color: black;
    font-weight: bolder;
    font-size: large;

}
.collapse .nav>li {
   margin-left: 1px;
}
.in .nav>li {
    margin-left: 0px;
}
.nav>li>a {
    text-align:center;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 16.5px;
    font-weight: bolder;
    border-bottom: solid 5px #00A78D;

}
.navbar-default .navbar-nav>li>a:hover {
    color: black;
    font-weight: bolder;
    font-size: 16.5px;
    border-bottom: solid 5px #7a4624;
    background-color: aliceblue;

}
.panel-heading {
    padding: 5px 15px;
   /* border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;*/
}
.user-info>a {
    text-decoration: none;
}
.user-info>a:hover {
    font-weight: bolder;
}
.user-info>a:visited{
    color: #a94442;
}

.panel-body {
    padding: 18px 20px;

}
.text-content {
    text-indent:2rem;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.8;
    word-wrap: break-word;
}
.panel-primary {
    border-color: transparent;
    margin-top: 20px;

}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #00A78D;
    border-color: #00A78D;
}
.container {
    margin-top: 10px;
    width: 100%;
}

@media screen and (min-width: 768px){
    .panel-show, .head-nav, .panel-loading  {
        width: 90%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 992px){
    .panel-show, .head-nav, .panel-loading {
        width: 80%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1200px) {
    .panel-show , .head-nav, .panel-loading {
        width: 70%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}
.form-control {
    min-width: 100%;
    max-width: 100%;
}
input[type="file"] {
     display: inline;
}
.form-select {
    margin-left: 10px;
}
.check {
    margin-top: 0px;
    padding-top: 0px;
    float: right;
    margin-right: 10px;
    color: #7a4624;
}
.articleId {
	display: none;
}
.panel-footer>a {
	margin-left: 10px;
}
.panel-footer-date{
	margin-top: 7px;
    padding-top: 0px;
    float: right;
    margin-right: 10px;
    color: #7a4624;
}
.file-select {
    max-width: 180px;
}
.list-group .list-group-item {
    border: none;
}
.changeModel {
    position: fixed;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height: 258px;
    width: 540px;
}
.modal-header {
border: none;
}
.changeModel-content {
    border-radius: 0;
}
.login-form-div {
    padding-bottom: 100px;
}
.login-form-div .form-group {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.login-foot a {
    color: #7a4624;
}
.register-login {
    margin-top: -10px;
}
.register-login a {
    color: #7a4624;
    opacity: 0.7;
}
.fm-error {
	color: red;
	font-weight: bolder;
}
.comment-show{
	display: block;
}
.comment-hide {
	display: none;
}

/**comments*/
.comment-content .row {
     margin-right: 0px;
     margin-left: 0px;
}
.comments{font-size:12px;line-height:18px;border-top-width:2px;border-top-style:solid;border-top-color:#dfd5cb;margin: 0}
.comment-block{border-bottom:1px dotted #dfd5cb;padding:10px 0;}
.comment-block .avatar{width:35px;margin-left: 10px;float: left}
.comment-block .avatar img{height:20px;width:20px;}
.comment-block .reply{ word-break:break-all;padding: 0px;padding-left: 15px;float: left;margin-right: 15px}
.comment-block .report{width:60px;margin-left:-10px; padding-right: 0px;right:30px;padding-left:0px;text-align:right;color:#d7d0c6;float: right}
.comment-block a.link{visibility:hidden;}
.comment-block:hover a.link{visibility:visible;}
.input-block{clear:both;padding:10px 0 10px 25px;margin-right: 25px}
.input-block textarea{width:550px;height:28px;font-size:12px;padding:5px;color:#54412E;}
.input-block textarea.original {color:#999;}
.input-block .input-block-text{margin-left: 10px}
/* User  */
.userlogin a{float: left;display: block;margin: 0 15px 0 0;}
.comment-block .anomynous {color:#9b8878;}
.comment-block .hostname a, .comment-block .hostname a:hover{color:#bf4131;}
.comment-block .manager {color:black;font-weight:bold;}
.comment-block .spam {color:#bbb;}

.input-block .form-control {
    height: 35px;
    display: block;
    font-size: 14px;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    color: #54412E;
}

.input-block .comment-check {
    display: inline-block;
    margin-top: 10px;
    padding-top: 0px;
    margin-right: 10px;
    color: #7a4624;
    margin-left: 20px;
}
.input-block .btn-send {
	margin-top: -10px;
}



