<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>发帖</title>
</head>
<body class="index-body">

<div class="head-nav ">
    <div class="head">
        <div class="content-block  " >
            #if($!{SESSION_USER_NAME})
				<div class="login" ><a href="userManager" style=" text-decoration: underline;color:red">[$!{SESSION_USER_NAME}]的个人中心</a>|<a href="../ logout">退出</a></div>
			#else
				<div class="login"><a href="user/login">登录</a> | <a href="user/register">注册</a></div>
			#end
            <img class="img-responsive " src="../img/web_logo.png">
        </div>
    </div>
    <nav class="navbar navbar-default " role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=" navbar-brand " href="#"><img class="img-responsive center-block" src="../img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse navbar-centre" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="../index">最新</a></li>
                <li class="active"><a href="javascript:void(0)">发帖</a></li>
                <li class="drop-divider"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">jmeter</a></li>
                        <li class="divider"></li>
                        <li><a href="#">EJB</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="panel-show ">
    <div class="panel panel-primary">
        
		#if($!{SUCCESS})
			
            <div class="panel-heading">
                <h3 class="panel-title">帖子发表成功！</h3>
            </div>
    	    <div  style="margin: 100px auto; text-align: center">
                    <h2><label  style="color:red">$!{SUCCESS}!<a href="../index"><h4>返回首页</h4></a></label></h2>
					<a href="addArticle"><h4>继续发表</h4></a>
            </div>
    			 
	</div>
		#else
			<div class="panel-heading">
            <h3 class="panel-title">发表自己的帖子</h3>
			</div>
			 <form role="form" action="addArticle" enctype="multipart/form-data" method="post" >
                <div class="form-group">
                    <textarea name="articleContent" class="form-control" rows="10" placeholder="记录一件心情..." >$!{articleContent}</textarea>
					#getErrorMessages("articlePublish","articleContent")
                </div>
                <div class="form-group form-select">
                    <label class="form-control-static" for="inputfile">图片(<span class="text-danger">小于1M</span>):</label>
                    <input name="articleImg" class="file-select" type="file" id="inputfile" >
                        <label class="checkbox form-select check ">
                            <input name="articleAnonymous" type="checkbox" #if($!{articleAnonymous}) checked #end> 匿名发表
                        </label>
					#if($!{ERROR})
						<span class="fm-error">$!{ERROR}</span>
					#end
                </div>
				<div class="form-group">
				#addToken(${SSM_TOKEN})
				</div>
                <div class="panel-footer ">
                    <div class="btn-send">
                        <button type="submit" class="btn btn-success">发　表  </button>
                    </div>
                </div>
        </form>
		#end
       

        <div class="statement">
            <ol class="list-group">
                <li class="list-group-item"><h2>投稿声明</h2></li>
                <li class="list-group-item">1.发表的内容不含政治、色情、广告、诽谤、歧视等内容。</li>
                <li class="list-group-item">2.发表的内容经过审核后才能发表。</li>
                <li class="list-group-item">3.转载请注明出处。</li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>