#if($!{USER_LIKE_AJAX_RESULT})
	($!{USER_LIKE_AJAX_RESULT})
#end

#if($!{REPORT_COMMENT})
	<div class="text-center text-danger">$!{REPORT_COMMENT}</div>
#end


#if($!{COMMENT_AJAX})
	#if($!{ERROR})
		<script>
		alert("评论内容不能为空啊！");
        </script>
	#elseif($!{SUCCESS} && $!{userAndComment})
		<div class="comment-content">
        <div id="comment-$!{userAndComment.comment.id}" class="comment-block">
            <div class="row">
                    <div class="avatar col-sm-1">
                       #if(${userAndComment.comment.anonymous})
    						<img src="$!{SESSION_WEB_ROOT_PATH}/img/anonymous.png">
						#else
							#if(${userAndComment.user.titlepic} && ${userAndComment.user.titlepic.length()}>0)
    							<img src="$!{SESSION_WEB_ROOT_PATH}/user/img/$userAndComment.user.id/headerImg/$userAndComment.user.titlepic">
    					    #else
    							<img src="$!{SESSION_WEB_ROOT_PATH}/img/no_header_img.png">
    						#end
						#end
                    </div>
                    <div class="reply col-sm-10">
                    <span class="userlogin">
                        #if(${userAndComment.comment.anonymous})
							<a href="javascript:void(0)">匿名</a>
						#else
							<a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{userAndComment.user.id}">${userAndComment.user.username}</a>
						#end
                    </span>
                    <span class="body">$!{userAndComment.comment.content}
						  <span class="text-danger pull-right" style="padding-right:0px; padding-left:15px">评论于$!date.format('yyyy-MM-dd HH:mm:ss',$!{userAndComment.comment.commenttime})</span>
                    </span>
                    </div>
                   <div class="report col-sm-1">
						#if($!{SESSION_ISLOGIN})
                        <a href="javascript:reportComment($!{userAndComment.comment.id})" class="link"><span class="text-warning">举报</span>
                        </a>
						#end
		                <span title="$!date.format('yyyy-MM-dd HH:mm:ss',$!{userAndComment.comment.commenttime})">您
		                </span>
                    </div>
            </div>
        </div>
    </div>
	#end
#end