#if($!{AJAX_RESULT})
	($!{AJAX_RESULT})
#end

#if($!{COMMENT_AJAX})
	#if($!{ERROR})
		<script>
		alert("评论内容不能为空啊！");
        </script>
	#elseif($!{SUCCESS} && $!{userAndComment})
		<div class="comment-content">
        <div id="comment-$!{userAndComment.comment.id}" class="comment-block">
            <div class="row">
                    <div class="avatar col-sm-1">
                        <img src="http://localhost:8080/ssm/user/img/$userAndComment.user.id/articleImg/$userAndComment.user.pic">
                    </div>
                    <div class="reply col-sm-10">
                    <span class="userlogin">
                        <a href="/user/$!{userAndComment.user.id}">$!{userAndComment.user.username}
                        </a>
                    </span>
                    <span class="body">$!{userAndComment.comment.content}
						  <span class="text-danger pull-right" style="padding-right:0px; padding-left:15px">评论于$!date.format('yyyy-MM-dd HH:mm:ss',$!{userAndComment.comment.commenttime})</span>
                    </span>
                    </div>
                    <div class="report col-sm-1">
                        <a href="javascript:showReport($!{userAndComment.comment.id})" class="link">举报
                        </a> &nbsp;
		                <span title="$!date.format('yyyy-MM-dd HH:mm:ss',$!{userAndComment.comment.commenttime})">你
		                </span>
                    </div>
            </div>
        </div>
    </div>
	#end
#end