#set($index=1)
#foreach(${userAndcomment} in ${userAndcommentList}) 
	<div class="comment-content">
        <div id="comment-$!{userAndcomment.comment.id}" class="comment-block">
            <div class="row">
                    <div class="avatar col-sm-1">
						#if(${userAndcomment.comment.anonymous})
    						<img src="$!{SESSION_WEB_ROOT_PATH}/img/anonymous.png">
						#else
							#if(${userAndcomment.user.titlepic} && ${userAndcomment.user.titlepic.length()}>0)
    							<img src="$!{SESSION_WEB_ROOT_PATH}/user/img/$userAndcomment.user.id/headerImg/$userAndcomment.user.titlepic">
    					    #else
    							<img src="$!{SESSION_WEB_ROOT_PATH}/img/no_header_img.png">
    						#end
						#end
                        
                    </div>
                    <div class="reply col-sm-10">
                    <span class="userlogin">
						#if(${userAndcomment.comment.anonymous})
							<a href="javascript:void(0)">匿名</a>
						#else
							#if($!{article.userid}==$!{userAndcomment.comment.fromuserid})
								<a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{userAndcomment.user.id}" class="text-danger">$!{userAndcomment.user.username}(题主)</a>
							#else
								<a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{userAndcomment.user.id}">$!{userAndcomment.user.username}</a>
							#end
							
						#end
                    </span>
                    <span class="body">
						$!{userAndcomment.comment.content}
                        <span class="text-warning pull-right" style="color:#ccc;padding-right:0px;padding-left:15px">评论于$!date.format('yyyy-MM-dd HH:mm:ss',$!{userAndcomment.comment.commenttime})</span>
                    </span>
                    </div>
					
                    <div class="report col-sm-1">
						#if($!{SESSION_ISLOGIN})
                        <a href="javascript:reportComment($!{userAndcomment.comment.id})" class="link"><span class="text-warning">举报</span>
                        </a>
						#end
		                <span title="$!date.format('yyyy-MM-dd HH:mm:ss',$!{userAndcomment.comment.commenttime})">$index
		                </span>
                    </div>
					
            </div>
        </div>
    </div>
	#set($index=$index+1)
#end
#if($!{NOT_LOGIN})
<div class="input-block $!{articleId}-input-block">
    <a class="btn btn-info"href="user/login">登录</a><span class="input-block-text text-warning">后才能发表评论</span>
</div>
	#else
<div class="input-block $!{articleId}-input-block">
        <form id="$!{articleId}-form" role="form"  enctype="multipart/form-data" method="post" >
            <input type="hidden" name="articleId" value=$!{articleId}>
			<div class="form-group">
                <textarea id="$!{articleId}-textarea" name="commentContent" class="form-control" rows="1" placeholder="您有了账号就是有身份的人了,记请不要发表与本内容无关的评论!"></textarea>
            </div>
            <div class="btn-send">
                <div  class="btn btn-success" onclick="avascript:addComment($!{articleId})">  发　表  </div>
                <span class="form-group form-select text-left">
                    <label class="checkbox form-select comment-check ">
                        <input id="$!{articleId}-checkbox" name="commentAnonymous" type="checkbox"> 匿名发表
                    </label>
                </span>
            </div>
        </form>
</div>
#end