<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>树洞-忘记密码</title>
    <link href="$!{SESSION_WEB_ROOT_PATH}/css/bootstrap.min.css" rel="stylesheet">
    <link href="$!{SESSION_WEB_ROOT_PATH}/css/index.css" rel="stylesheet">
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/jquery.min.js"></script>
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/bootstrap.min.js"></script>
	<script src="$!{SESSION_WEB_ROOT_PATH}/js/common.js"></script>
</head>
<body class="index-body">

<div class="head-nav ">
    <div class="head">
        <div class="content-block" >
             #if($!{SESSION_USER_NAME})
				<div class="login" ><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{SESSION_USERID}" style=" text-decoration: underline;color:red">[$!{SESSION_USER_NAME}]的个人中心</a>|<a href="$!{SESSION_WEB_ROOT_PATH}/logout">退出</a></div>
			#else
				<div class="login"><a href="$!{SESSION_WEB_ROOT_PATH}/user/login">登录</a> | <a href="$!{SESSION_WEB_ROOT_PATH}/user/register">注册</a></div>
			#end
            <img class="img-responsive " src="$!{SESSION_WEB_ROOT_PATH}/img/web_logo.png">
        </div>
    </div>
    <nav class="navbar navbar-default " role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=" navbar-brand " href="javascript:void(0)"><img class="img-responsive center-block" src="../img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse navbar-centre" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="$!{SESSION_WEB_ROOT_PATH}/index">最新</a></li>
                <li><a href="$!{SESSION_WEB_ROOT_PATH}/user/addArticle">发帖</a></li>
                 #if(1==2)
				<li class="drop-divider"></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">jmeter</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">EJB</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">另一个分离的链接</a></li>
                    </ul>
                </li>
				#end
            </ul>
        </div>
    </nav>
</div>
#if($!{SUCCESS})
	<div class="panel-show ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">新密码设置成功！</h3>
            </div>
    	    <div  style="margin: 100px auto; text-align: center">
                    <h2><label  style="color:red">$!{SUCCESS}!<a href="$!{SESSION_WEB_ROOT_PATH}/user/login"><h4>5秒后返回登录</h4></a></label></h2>
            </div>
    			 <script>
					 
                	  window.setTimeout(redirectFun,5000);
                	  function redirectFun()
                	  {
                	   window.location.replace("$!{SESSION_WEB_ROOT_PATH}/user/login");
                	  }
                 </script>
		</div>
	</div>
	
#else
    #if($!{FORGET_PASSWORD_TOKEN})
    <div class="panel-show ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">重置密码！</h3>
            </div>
            <div class="login-form-div">
                <form class="form-horizontal" role="form" action="setNewPassword" method="post">
                    <div class="form-group ">
    					#if($!{ERROR})
    						<h2><label  class="col-sm-8 control-label " style="color:red">$!{ERROR}</label></h2>
    					#else
    						<h2><label for="newPassword" class="col-sm-8 control-label ">设置新密码</label></h2>
    					#end
                        
                    </div>
                    <div class="form-group ">
                        <label for="newPassword" class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-8">
                            <input type="password"  class="form-control" id="newPassword" name="newPassword" placeholder="输入新密码,至少6位">
    							#getErrorMessages("setNewPassword","newPassword")
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="newPasswordConfirm" class="col-sm-2 control-label">确认</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" placeholder="再输一遍新密码">
    							#getErrorMessages("setNewPassword","newPasswordConfirm")
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="verify-code" class="col-sm-2 control-label">验证码</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="verify-code" name="captcha" placeholder="请输入下图验证码">
    							#getErrorMessages("setNewPassword","captcha")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8 ">
                            <img src="../code/captcha-image" id="kaptchaImage"/>
                            <a href="javascript:void(0)" onclick="changeCode()">看不清?换一张</a>
                        </div>
                    </div>
					<div class="form-group">
    				#addToken(${SSM_TOKEN})
    				</div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8 ">
                            <button type="submit" class="btn btn-success form-control">设置新密码</button>
                        </div>
                    </div>
    				 <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8 ">
                            <input type="hidden" name="token" value=$!{FORGET_PASSWORD_TOKEN}> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group register-login">
                            <div class="col-sm-offset-2 col-sm-8 control-label" style="display: inline-block">
                                <label><a href="login.html">返回登录</a></label>|
                                <label><a href="register.html">注册账号</a></label>
                            </div>
                        </div>
    
                    </div>
                </form>
            </div>
    
        </div>
    </div>
    #else
    <div class="panel-show ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">忘记密码！</h3>
            </div>
    		#if($!{SUCCESS})
    			 <div  style="margin: 100px auto; text-align: center">
                    <h2><label  style="color:red">$!{SUCCESS}!<a href="$!{SESSION_WEB_ROOT_PATH}/index"><h4>5秒后返回首页</h4></a></label></h2>
                </div>
    			 <script>
    					 
                    	  window.setTimeout(redirectFun,5000);
                    	  function redirectFun()
                    	  {
                    	   window.location.replace("$!{SESSION_WEB_ROOT_PATH}/index");
                    	  }
                 </script>
    		#else
            <div class="login-form-div">
                <form class="form-horizontal" role="form" action="forgetPassword" method="post">
                    <div class="form-group ">
    					#if($!{ERROR})
    						<h2><label  class="col-sm-offset-2 col-sm-7 control-label " style="color:red">$!{ERROR}</label></h2>
    					#else
    						<h2><label for="email" class="col-sm-8 control-label ">重置密码</label></h2>
    					#end
                        
                    </div>
                    <div class="form-group ">
                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="email" name="email" placeholder="请输入注册邮箱" value="$!{email}">
    							#getErrorMessages("forgetPassword","email")
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="verify-code" class="col-sm-2 control-label">验证码</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="verify-code" name="captcha" placeholder="请输入下图验证码">
    							#getErrorMessages("forgetPassword","captcha")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8 ">
                            <img src="$!{SESSION_WEB_ROOT_PATH}/code/captcha-image" id="kaptchaImage"/>
                            <a href="javascript:void(0)" onclick="changeCode()">看不清?换一张</a>
                        </div>
                    </div>
					<div class="form-group">
    				#addToken(${SSM_TOKEN})
    				</div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8 ">
                            <button type="submit" class="btn btn-success form-control">重设密码</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group register-login">
                            <div class="col-sm-offset-2 col-sm-8 control-label" style="display: inline-block">
                                <label><a href="login">返回登录</a></label>|
                                <label><a href="register">注册账号</a></label>
                            </div>
                        </div>
    
                    </div>
                </form>
            </div>
    		#end
        </div>
    </div>
    #end
#end
</body>
</html>