<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>树洞</title>
    <link href="$!{SESSION_WEB_ROOT_PATH}/css/bootstrap.min.css" rel="stylesheet">
    <link href="$!{SESSION_WEB_ROOT_PATH}/css/index.css" rel="stylesheet">
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/jquery.min.js"></script>
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/bootstrap.min.js"></script>
</head>
<body class="index-body">

<div class="head-nav ">
    <div class="head">
        <div class="content-block" >
            <img class="img-responsive " src="$!{SESSION_WEB_ROOT_PATH}/img/web_logo.png">
        </div>
    </div>
    <nav class="navbar navbar-default " role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=" navbar-brand " href="javascript:void(0)"><img class="img-responsive center-block" src="$!{SESSION_WEB_ROOT_PATH}/img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse navbar-centre" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="$!{SESSION_WEB_ROOT_PATH}/index">首页</a></li>
                <li><a href="$!{SESSION_WEB_ROOT_PATH}/user/addStory">发帖</a></li>
                 #if(1==2)
				<li class="drop-divider"></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">jmeter</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">EJB</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">另一个分离的链接</a></li>
                    </ul>
                </li>
				#end
            </ul>
        </div>
    </nav>
</div>
<div class="panel-show ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">账号注册！</h3>
        </div>
		#if($!{SUCCESS})
			 <div  style="margin: 100px auto; text-align: center">
                <h2><label  style="color:red">$!{SUCCESS}!<a href="$!{SESSION_WEB_ROOT_PATH}/index"><h4>3秒后返回首页</h4></a></label></h2>
            </div>
			 <script>
					 
                	  window.setTimeout(redirectFun,3000);
                	  function redirectFun()
                	  {
                	   window.location.replace("$!{SESSION_WEB_ROOT_PATH}/index");
                	  }
             </script>
		#else
        <div class="login-form-div">
            <form class="form-horizontal" role="form" action="$!{SESSION_WEB_ROOT_PATH}/user/register" method="post">
                <div class="form-group ">
                #if($!{ERROR})
				<h2><label  class="col-sm-offset-2 col-sm-7 control-label " style="color:red">$!{ERROR}</label></h2>
				#else
                    <h2><label  class="col-sm-offset-1 col-sm-7 control-label ">会员注册</label></h2>
				#end
                </div>
                <div class="form-group ">
                    <label for="userNickName" class="col-sm-3 control-label">用户名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="userNickName" name="userNickName"  placeholder="请输入用户名" value=$!{userNickName}>
							#getErrorMessages("user","userNickName")
                    </div>
                </div>
                <div class="form-group ">
                    <label for="email" class="col-sm-3 control-label">邮箱</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="email" name="email"  placeholder="请输入邮箱" value=$!{email}>
							#getErrorMessages("user","email")
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">密码</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码,至少6个字符">
							#getErrorMessages("user","password")
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm" class="col-sm-3 control-label">重复密码</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="再次确认密码">
							#getErrorMessages("user","passwordConfirm")
                    </div>
                </div>
				<div class="form-group">
				#addToken(${SSM_TOKEN})
				</div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8 ">
                        <button type="submit" class="btn btn-success form-control">注 册</button>
                    </div>
                </div>
                <div class="form-group register-login">
                    <div class="col-sm-offset-3 col-sm-8 control-label" style="display: inline-block">
                        <label><a href="login">已有账号？登录</a></label>
                    </div>
                </div>
            </form>
        </div>
		#end

    </div>
</div>

</body>
</html>