<html>
	<HEAD>
    </HEAD>
	<BODY>
		
    </BODY>
</html>
   #foreach(${userAndarticle} in ${userAndarticleList})  
    <div class="panel panel-primary">
		<div class="articleId">$!{userAndarticle.article.id}</div>
            <div class="panel-heading">
				<img src="http://localhost:8080/ssm/user/img/$userAndarticle.article.userid/articleImg/$userAndarticle.article.pic"
                 class="img-circle" width="35" height="35">
            <span class="user-info"><a href="#" class="text-danger">$!{userAndarticle.user.username}</a></span>
            </div>
			
            #if($userAndarticle.article.pic.length()>0)
            <div class="container text-center">
                <img src="http://localhost:8080/ssm/user/img/$userAndarticle.article.userid/articleImg/$userAndarticle.article.pic" class="img-responsive center-block" alt="Cinque Terre" width="304"  >
            </div>
			#end
            <div class="panel-body ">
                <p class="text-content">
					$!{userAndarticle.article.content}
                </p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-success $!{userAndarticle.article.id}btn" href="javascript:upArticle($!{userAndarticle.article.id});"><i class="icon-thumbs-up"></i>点赞<span class="$!{userAndarticle.article.id}upArticleNum">($!{userAndarticle.article.up})</span></a> 
                <a class="btn btn-danger" href="#"><i class=" icon-edit"></i>评论</a>
    			<span class="panel-footer-date">发表于 $!date.format('yyyy-MM-dd',$!{userAndarticle.article.publishtime})</span>
            </div>
        </div> 
#end 
