<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>留言板</title>
     <link href="$!{SESSION_WEB_ROOT_PATH}/css/bootstrap.min.css" rel="stylesheet">
     <link href="$!{SESSION_WEB_ROOT_PATH}/css/font-awesome.min.css" rel="stylesheet">
    <link href="$!{SESSION_WEB_ROOT_PATH}/css/index.css" rel="stylesheet">
    <link href="$!{SESSION_WEB_ROOT_PATH}/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
		
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/jquery.min.js"></script>
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/bootstrap.min.js"></script>
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/common.js"></script>
	<script src="$!{SESSION_WEB_ROOT_PATH}/js/bootstrap-datetimepicker.min.js"></script>
	<script src="$!{SESSION_WEB_ROOT_PATH}/js/bootstrap-datetimepicker.zh-CN.js"></script>
	
</head>
<body class="index-body">
<div class="head-nav ">
    <div class="head">
        <div class="content-block" >
			#if($!{SESSION_USER_NAME})
				<div class="login" ><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{SESSION_USERID}" style=" text-decoration: underline;color:red">[$!{SESSION_USER_NAME}]的个人中心</a>|<a href="$!{SESSION_WEB_ROOT_PATH}/logout">退出</a></div>
			#else
				<div class="login"><a href="login">登录</a> | <a href="register">注册</a></div>
			#end
            
            <img class="img-responsive " src="$!{SESSION_WEB_ROOT_PATH}/img/web_logo.png">
        </div>
    </div>
    <nav class="navbar navbar-default " role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=" navbar-brand " href="javascript:void(0)"><img class="img-responsive center-block" src="$!{SESSION_WEB_ROOT_PATH}/img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse navbar-centre" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="$!{SESSION_WEB_ROOT_PATH}/index">最新</a></li>
                <li><a href="$!{SESSION_WEB_ROOT_PATH}/user/addArticle">发帖</a></li>
                 #if(1==2)
				<li class="drop-divider"></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">jmeter</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">EJB</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">另一个分离的链接</a></li>
                    </ul>
                </li>
				#end
            </ul>
        </div>
    </nav>
</div>
<div class="panel-show " style="margin-bottom:-20px;margin-top:-10px;">
<ul class="nav nav-tabs">
   <li class="active"><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{user.id}">Home</a></li>
   <li><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{user.id}/userPublishArticle">发表的文章</a></li>
   <li><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{user.id}/userPublishComment">发表的评论</a></li>
</ul>
</div>

#if($!{MY_SELF})
<div class="panel-show ">
    <div class="panel panel-primary">
            <div class="panel-heading">
				<span class="user-info text-"><i class=" icon-edit"></i> (<span class="text-danger">$!{user.username}</span>) 的资料</span>
            </div>
			<div class="text-center container ">
				#if(${user.titlepic} && ${user.titlepic.length()}>0)
				<img src="$!{SESSION_WEB_ROOT_PATH}/user/img/$user.id/headerImg/$user.titlepic" class="img-circle img-thumbnail img-responsive center-block" alt="NO IMAGE" height="200" width="200"  >
				#else
				<img src="$!{SESSION_WEB_ROOT_PATH}/img/no_header_img.png" class="img-circle img-thumbnail img-responsive center-block" alt="NO IMAGE" height="200" width="200"  >
				#end
			</div>
            <div class="panel-body text-center text-info text-content">
                <div>${user.username}</div>
				#if(${user.gender}==true)
                <div>男</div>
				#elseif(${user.gender}==false)
				<div>女</div>
				#else
				<div>未设置性别</div>
				#end
				#if(${user.birthday})
                <div>$!date.format('yyyy年MM月dd日 ',${user.birthday})出生</div>
				#else
				<div>未设置生日</div>
				#end
				#if(${user.email})
                <div>${user.email}</div>
				#else
				<div>未设置email</div>
				#end
                <div>注册于 $!date.format('yyyy年MM月dd日  HH:mm:ss',${user.enrolltime})</div>
            </div>
			
			<div style="margin:0px -1px 0px -1px;border-bottom:20px solid rgb(255,228,196);"></div>
			<form class="form-horizontal" role="form" action="$!{SESSION_WEB_ROOT_PATH}/user/userManagerHeaderImg" enctype="multipart/form-data" method="post">
    			<div class="panel-body ">
                    <p class="text-content">
                		<div class="login-form-div" style="padding-bottom:0px;padding-top:10px;">
                           
                                <div class="form-group text-center">
                                #if($!{ERROR} && $!{headerImgError})
                				<h4><label  class="text-center" style="color:red">$!{ERROR}</label></h4>
    							#end
                                </div>
    							<div class="text-center container ">
    								#if(${user.titlepic} && ${user.titlepic.length()}>0)
                    				<img src="img/$user.id/headerImg/$user.titlepic" class="img-circle img-thumbnail img-responsive center-block" alt="NO IMAGE" height="200" width="200"  >
    								#else
    								<img src="$!{SESSION_WEB_ROOT_PATH}/img/no_header_img.png" class="img-thumbnail img-responsive center-block" alt="NO IMAGE" height="200" width="200"  >
    								#end
                    			</div>
    							<div class="form-group form-select text-content text-center" style="margin-bottom:0px;padding-top:20px;">
                                    <input name="headerImg"  type="file" id="inputfile" >
    								<div style="font-size:14px;margin-top:15px">
    									<span class="text-danger" for="inputfile">图片支持JPG,jpeg,png,gif格式，尺寸小于400x400像素，文件容量1M以内</span>
    								</div>
                                </div>
                				<div class="form-group">
                				#addToken(${SSM_TOKEN})
                				</div>
                        </div>
                    </p>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-danger "type="submit"><i class=" icon-edit"></i>修改头像</button>
                </div>
			</form>
			
			
			
			<div style="margin:0px -1px 0px -1px;border-bottom:20px solid rgb(255,228,196);"></div>
			 <form class="form-horizontal" role="form" action="$!{SESSION_WEB_ROOT_PATH}/user/userManagerInfo" method="post">
    			<div class="panel-body ">
                    <p class="text-content">
                		<div class="login-form-div" style="padding-bottom:0px;padding-top:10px;">
                           
                                <div class="form-group text-center">
                                #if($!{ERROR} && $!{userChangeInfoError})
                				<h4><label  class="text-canter" style="color:red">$!{ERROR}</label></h4>
    							#else
    							<h4><label  class="text-center text-danger" >只需要填写需要修改的信息即可，空白表示不修改！</label></h4>
                				#end
                                </div>
                                <div class="form-group ">
                                    <label for="userName" class="col-sm-3 control-label">用户名</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="userName" name="userName"  placeholder="请输入用户名" value=$!{userChangeInfos.userName}>
                                    </div>
                                </div>
    							 <div class="form-group ">
        							<label  class="col-sm-3 control-label">性别</label>
        							<div class="radio col-sm-8">
                                       <label>
                                          <input type="radio" name="gender" id="optionsRadios1"  value="true"> 男 
                                       </label>
        							    <label style="padding-left:35px">
                                          <input type="radio" name="gender" id="optionsRadios2"  value="false"> 女
                                       </label>
    								   <label style="padding-left:35px">
                                          <input type="radio" name="gender" id="optionsRadios2"  value="null" checked> 不修改
                                       </label>
                                    </div>
    							</div>
                                <div class="form-group ">
                                    <label for="email" class="col-sm-3 control-label">邮箱</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="email" name="email"  placeholder="请输入邮箱" value=$!{userChangeInfos.email}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="datetimepicker" class="col-sm-3 control-label">生日</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="datetimepicker" name="birthday" value="$!{userChangeInfos.birthday}" placeholder="选择出生日期">
                                    </div>
                                </div>
                				<div class="form-group">
                				#addToken(${SSM_TOKEN})
                				</div>
                            
                        </div>
                    </p>
                </div>
    			 <div class="panel-footer text-center">
                    <button class="btn btn-danger " type="submit"><i class=" icon-edit"></i>修改资料</button>
                </div>
			</form>
			
			
            <script type="text/javascript">
                jQuery("#datetimepicker").datetimepicker({format: 'yyyy-mm-dd',language:'zh-CN', autoclose: true,showMeridian: true,minView:2,});
            	
            </script>
			
			<div style="margin:0px -1px 0px -1px;border-bottom:20px solid rgb(255,228,196);"></div>
			<form class="form-horizontal" role="form" action="$!{SESSION_WEB_ROOT_PATH}/user/userManagerPassword" method="post">
    			<div class="panel-body ">
                    <p class="text-content">
                		<div class="login-form-div" style="padding-bottom:0px;padding-top:10px;">
                                <div class="form-group ">
                                #if($!{ERROR} && $!{changePasswordError})
                				<h2><label  class="col-sm-offset-2 col-sm-7 control-label " style="color:red">$!{ERROR}</label></h2>
                				#end
                                </div>
                                <div class="form-group ">
                                    <label for="password" class="col-sm-3 control-label">新密码</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="password" name="password"  placeholder="请输入新密码，6-15字符">
                							#getErrorMessages("changePassword","password")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passwordConfirm" class="col-sm-3 control-label">新密码确认</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="请重复输入密码,6-15个字符">
                							#getErrorMessages("changePassword","passwordConfirm")
                                    </div>
                                </div>
                				<div class="form-group">
                				#addToken(${SSM_TOKEN})
                				</div>
                        </div>
                    </p>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-danger " type="submit" ><i class=" icon-edit"></i>修改密码</button>
                </div>
			 </form>
    </div> 
</div>
#end
#if($!{OTHER})
	<div class="panel-show ">
        <div class="panel panel-primary">
                <div class="panel-heading">
    				<span class="user-info text-"><i class=" icon-edit"></i> (<span class="text-danger">$!{user.username}</span>) 的资料</span>
                </div>
    			<div class="text-center container ">
    				#if(${user.titlepic} && ${user.titlepic.length()}>0)
    				<img src="$!{SESSION_WEB_ROOT_PATH}/user/img/$user.id/headerImg/$user.titlepic" class="img-circle img-thumbnail img-responsive center-block" alt="NO IMAGE" height="200" width="200"  >
    				#else
    				<img src="$!{SESSION_WEB_ROOT_PATH}/img/no_header_img.png" class="img-circle img-thumbnail img-responsive center-block" alt="NO IMAGE" height="200" width="200"  >
    				#end
    			</div>
                <div class="panel-body text-center text-info text-content">
                    <div>${user.username}</div>
    				#if(${user.gender}==true)
                    <div>男</div>
    				#elseif(${user.gender}==false)
    				<div>女</div>
    				#else
    				<div>未设置性别</div>
    				#end
    				#if(${user.birthday})
                    <div>$!date.format('yyyy年MM月dd日 ',${user.birthday})出生</div>
    				#else
    				<div>未设置生日</div>
    				#end
                    <div>注册于 $!date.format('yyyy年MM月dd日  HH:mm:ss',${user.enrolltime})</div>
                </div>
    	</div>
    </div>
#end

</body>
</html>