<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>留言板</title>
     <link href="$!{SESSION_WEB_ROOT_PATH}/css/bootstrap.min.css" rel="stylesheet">
     <link href="$!{SESSION_WEB_ROOT_PATH}/css/font-awesome.min.css" rel="stylesheet">
    <link href="$!{SESSION_WEB_ROOT_PATH}/css/index.css" rel="stylesheet">
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/jquery.min.js"></script>
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/bootstrap.min.js"></script>
    <script src="$!{SESSION_WEB_ROOT_PATH}/js/common2.js"></script>
	<script src="$!{SESSION_WEB_ROOT_PATH}/js/jquery.infinitescroll.min.js" type="text/javascript"></script>
</head>
<body class="index-body">
<div class="head-nav ">
    <div class="head">
        <div class="content-block" >
			#if($!{SESSION_USER_NAME})
				<div class="login" ><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{SESSION_USERID}" style=" text-decoration: underline;color:red">[$!{SESSION_USER_NAME}]的个人中心</a>|<a href="$!{SESSION_WEB_ROOT_PATH}/logout">退出</a></div>
			#else
				<div class="login"><a href="$!{SESSION_WEB_ROOT_PATH}/user/login">登录</a> | <a href="register">注册</a></div>
			#end
            
            <img class="img-responsive " src="$!{SESSION_WEB_ROOT_PATH}/img/web_logo.png">
        </div>
    </div>
    <nav class="navbar navbar-default " role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=" navbar-brand " href="javascript:void(0)"><img class="img-responsive center-block" src="$!{SESSION_WEB_ROOT_PATH}/img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse navbar-centre" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="$!{SESSION_WEB_ROOT_PATH}/index">最新</a></li>
                <li><a href="$!{SESSION_WEB_ROOT_PATH}/user/addArticle">发帖</a></li>
                 #if(1==2)
				<li class="drop-divider"></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">jmeter</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">EJB</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">另一个分离的链接</a></li>
                    </ul>
                </li>
				#end
            </ul>
        </div>
    </nav>
</div>
<div class="panel-show " style="margin-bottom:-20px;margin-top:-10px;">
<ul class="nav nav-tabs">
   <li ><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{user.id}">Home</a></li>
   <li class="active"><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{user.id}/userPublishArticle">发表的文章</a></li>
   <li><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{user.id}/userPublishComment">发表的评论</a></li>
</ul>
</div>


#if($!{MY_SELF})
<div class="panel-show ">
    <div class="panel panel-primary userArticles "style="border-bottom:none">
            <div class="panel-heading">
				<span class="user-info text-"><i class=" icon-file-alt"></i> (<span class="text-danger">$!{user.username}</span>) 发表的文章</span>
            </div>
			#foreach(${articleAndCommentNum} in ${articleAndCommentNums}) 
				<div class="userArticle">
        				<div class="articleId">
        					$!{articleAndCommentNum.article.id}
        				</div>
        				<div class="publish-article-date">
							#if($!{articleAndCommentNum.article.anonymous}==true)
								<span class="text-left" style="color:red">匿名发表</span>
							#end
        					<span class="text-left">发表于 $!date.format('yyyy-MM-dd HH:mm:ss',$!{articleAndCommentNum.article.publishtime})</span>
							#if($!{articleAndCommentNum.article.status}==true)
								<span class="text-left text-info">审核通过，已发表</span>
							#else
								<span class="text-left " style="color:red">正在审核或审核未通过，未能发表</span>
							#end
        				</div>
                        #if(${articleAndCommentNum.article.pic} && ${articleAndCommentNum.article.pic.length()}>0)
                        <div class="container text-center">
                            <img src="$!{SESSION_WEB_ROOT_PATH}/user/img/$articleAndCommentNum.article.userid/articleImg/$articleAndCommentNum.article.pic" class="img-responsive center-block" alt="NO IMAGE" width="400"  >
                        </div>
            			#end
                        <div class="panel-body ">
                            <p class="text-content">
            					$!{articleAndCommentNum.article.content}
                            </p>
                        </div>
                        <div class="panel-footer">
                            <span class=" text-info" ><i class="icon-thumbs-up"></i>点赞数($!{articleAndCommentNum.article.up})</span></span> 
                            <a class=" text-danger" href="javascript:articleComment($!{articleAndCommentNum.article.id});"><i class=" icon-edit"></i>评论<span class="$!{articleAndCommentNum.article.id}commentNum">($!{articleAndCommentNum.commentNum})</span></a>
                        </div>
            			<div  class="$!{articleAndCommentNum.article.id}comment comment-hide comments">
                        </div>
						<div style="margin:0px -1px 0px -1px;border-bottom:20px solid rgb(255,228,196);"></div>
				</div>
				#end 
    </div> 
</div>
#end

#if($!{OTHER})
	<div class="panel-show ">
    <div class="panel panel-primary userArticles "style="border-bottom:none">
            <div class="panel-heading">
				<span class="user-info text-"><i class=" icon-file-alt"></i> (<span class="text-danger">$!{user.username}</span>) 发表的文章</span>
            </div>
			#foreach(${articleAndCommentNum} in ${articleAndCommentNums}) 
				#if($!{articleAndCommentNum.article.anonymous}!=true && $!{articleAndCommentNum.article.status}==true)
				<div class="userArticle">
        				<div class="articleId">
        					$!{articleAndCommentNum.article.id}
        				</div>
        				<div class="publish-article-date">
        					<span class="text-left">发表于 $!date.format('yyyy-MM-dd HH:mm:ss',$!{articleAndCommentNum.article.publishtime})</span>
        				</div>
                        #if(${articleAndCommentNum.article.pic} && ${articleAndCommentNum.article.pic.length()}>0)
                        <div class="container text-center">
                            <img src="$!{SESSION_WEB_ROOT_PATH}/user/img/$articleAndCommentNum.article.userid/articleImg/$articleAndCommentNum.article.pic" class="img-responsive center-block" alt="NO IMAGE" width="400"  >
                        </div>
            			#end
                        <div class="panel-body ">
                            <p class="text-content">
            					$!{articleAndCommentNum.article.content}
                            </p>
                        </div>
                        <div class="panel-footer">
							<a class="btn btn-success $!{articleAndCommentNum.article.id}btn" href="javascript:upArticle($!{articleAndCommentNum.article.id});"><i class="icon-thumbs-up"></i>点赞<span class="$!{articleAndCommentNum.article.id}upArticleNum">($!{articleAndCommentNum.article.up})</span></a> 
							<a class="btn btn-danger" href="javascript:articleComment($!{articleAndCommentNum.article.id});"><i class=" icon-edit"></i>评论<span class="$!{articleAndCommentNum.article.id}commentNum">($!{articleAndCommentNum.commentNum})</span></a>
                        </div>
            			<div  class="$!{articleAndCommentNum.article.id}comment comment-hide comments">
                        </div>
						<div style="margin:0px -1px 0px -1px;border-bottom:20px solid rgb(255,228,196);"></div>
				</div>
				#end
			#end 
    </div> 
</div>
#end

<div class="panel-loading ">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
    			<div class="loading">
    				<img src="$!{SESSION_WEB_ROOT_PATH}/img/loading.gif"><span>正在加载...</span>
    			</div>
        </div>
    </div>
</div>
<div id="navigation"><a href="$!{SESSION_WEB_ROOT_PATH}/user/$!{user.id}/userPublishArticle?page=1"></a></div>
<script type="text/javascript">
$(document).ready(function() {

            $('.userArticles').infinitescroll({
                navSelector: "#navigation", //导航的选择器，会被隐藏
                nextSelector: "#navigation a", //包含下一页链接的选择器
                itemSelector: ".userArticle", //你将要取回的选项(内容块)
                debug: true, //启用调试信息
                animate: false, //当有新数据加载进来的时候，页面是否有动画效果，默认没有
                extraScrollPx: 150, //滚动条距离底部多少像素的时候开始加载，默认150
                bufferPx: 40, //载入信息的显示时间，时间越大，载入信息显示时间越短
                errorCallback: function() {
                    $(".loading").html("<span>没有数据了。。。</span>");
                }, //当出错的时候，比如404页面的时候执行的函数
                localMode: true, //是否允许载入具有相同函数的页面，默认为false
                dataType: 'html',//可以是json
                loading: {
                    msgText: "加载中...",
                    finishedMsg: '没有新数据了...',
                    selector: '.loading' // 显示loading信息的div
                }
            }, function(newElems) {
                //程序执行完的回调函数
                var $newElems = $(newElems);
                $('.userArticles').append($newElems);
            });

        });

    </script>
</body>
</html>