.index-body {
    background-color: bisque;
}
.navbar-default {
    background-color:#00A78D;
    color: aliceblue;
    border: none;

}
.navbar-default .navbar-brand {
    color: white;
    padding-left: 100px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    vertical-align: middle;
    background-color: aliceblue;
    border-bottom: solid 5px #7a4624;
    color: black;
    font-weight: bolder;
    font-size: large;
}
.nav>li {
   margin-left: 1px;
}

.nav>li>a {
    text-align:center;
}

.navbar-default .navbar-nav>li>a {
    color: #7a4624;
    font-size: 16.5px;
    background-color: #00A78D;

}
.navbar-default .navbar-nav>li>a:hover {

    color: black;
    font-weight: bolder;
    font-size: 16.5px;
    border-bottom: solid 5px #7a4624;
    background-color: aliceblue;

}
.panel-primary {
    border-color: transparent;

    margin-top: 20px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #00A78D;
    border-color: #00A78D;
}
.container {
    margin-top: 10px;;
}